body{
    font-family: 'Poppins', sans-serif;
    color: #333;
    background: url('https://www.fusiontaxes.com/wp-content/uploads/2023/11/NetSuite-expense-management.png') no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    max-width:900px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(199, 241, 237, 0.9);
}
.back{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px); 
    padding: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display:block;
}
h1, h3 {
    text-align: center;
    color: #251d1d;
    transition: color 0.3s ease-in-out;
}
input, select, button {
    width: 30%;
    margin: 10px 2px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #81ebab;
    box-shadow: 0 0 12px 8px rgba(184, 238, 222, 0.7);
    transition: all 0.3s ease-in-out;
    font-size: medium;
}
#balance{
    max-width: fit-content;
}
#daily_limit{
    width: 100%;

}
#daily_limit::placeholder{
    font-size: 14px;
    width: 200px;;
}
button {
    background-color: #235af0;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}
button:hover {
    background-color: #2a9e51;
    transform: scale(1.05);
}
button:focus {
    outline: none;  
    background-color: #235af0; 
}

#blur{
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(4px);
    max-width: 900px;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 10px 4px rgba(240, 116, 116, 0.6);
}
table {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(1px);
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    font-size: medium;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #4df9e5;
    color: rgb(8, 141, 21);
}
.delete {
    background: #e05866;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
    border-radius: 5px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}
.delete:hover {
    background: #c82333;
    transform: scale(1.1);
}
.delete:focus{
    background: #e05866;
    outline: none;
}


#daily_limit{
    width: 180px;
}
#piechart{
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 35% ;
    display: inline-block;

}
#legend{
    display:inline-block;
    gap: 20px;
    margin-left: 20px; 
    padding: 20px;
    font-size: larger;
    font-weight: bold;
}
#color{
    display: flex;
    align-items: center;
}
#green{
    background: green;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
}
#red{
    background: red;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
}
#blue{
    background: blue;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
}
#orange{
    background: orange;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
}
#lightgray{
    background: lightgray;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
}
select,#date,option{
    cursor: pointer;
}
#max,#invalid,#inv{
    font-size: larger ;
    color: #dc3545;
    font-weight: bold;
}
@media screen and (max-width: 768px) {

    #piechart,#legend {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #piechart{
        margin-right:20%;
        margin-left:20%;
    }
    table {
        display: block;
        overflow-x: auto;
        max-width: 100%;
        white-space: nowrap;
    }
    #category{
        width:200px;
    }
    #balance{
        max-width: fit-content;
        width:200px;
    }
    input, select, button {
        width: 90%;
        font-size: 14px;
    }

} 
